<div class=" container section">
  <div class="row">
    <div class=" col-sm-4">
      <div class="card thumbnail">
        <img class="card-img-top" src="assets/images/selectors/students.jpg" alt="Card image cap">
        <div class="card-body">
          <a class="btn btn-primary " style="color: white;" [routerLink]="['/students']" routerLinkActive="router-link-active" >Students</a>
        </div>
      </div>
    </div>
    <div class=" col-sm-4">
      <div class="card thumbnail">
        <img class="card-img-top" style="height: 12rem;" src="assets/images/selectors/classes.jpg" alt="Card image cap">
        <div class="card-body">
          <a class="btn btn-primary " style="color: white;">Classes</a>
        </div>
      </div>
    </div>
    <div class=" col-sm-4">
      <div class="card thumbnail">
        <img class="card-img-top" style="height: 12rem;" src="assets/images/selectors/reports.jpg" alt="Card image cap">
        <div class="card-body">
          <a class="btn btn-primary" style="color: white;">Reports</a>
        </div>
      </div>
    </div>

  </div>
</div>
