<div class="container section mb-5">
  <div class="row">
    <div>
      <h3 *ngIf="!students">Loading...</h3>
    </div>

    <!-- <div class="card" *ngIf="students" style="width: 50%;">
      <h5 class="card-header">
        <i class="fas fa-caret-down float-right"></i>Areas</h5>
      <div class="card-body">
        <canvas class="" id="myChart" style="height: 313px; width: 627px;" height="313" width="627"></canvas>
      </div>
    </div> -->
    <div class="card" *ngIf="students" style="width: 50%;">
      <h5 class="card-header">
        <i class="fas fa-caret-down float-right"></i>Religion</h5>
      <div class="card-body">
        <canvas class="" id="myChart2" style="height: 313px; width: 627px;" height="313" width="627"></canvas>
      </div>
    </div>

  </div>
  <!-- <div class="row">
    <div class="card" *ngIf="students" style="width: 50%;">
      <h5 class="card-header">
        <i class="fas fa-caret-down float-right"></i>Areas</h5>
      <div class="card-body">
        <canvas class="" id="myChart3" style="height: 313px; width: 627px;" height="313" width="627"></canvas>
      </div>
    </div>
    <div class="card" *ngIf="students" style="width: 50%;">
      <h5 class="card-header">
        <i class="fas fa-caret-down float-right"></i>Grades</h5>
      <div class="card-body">
        <canvas class="" id="myChart4" style="height: 313px; width: 627px;" height="313" width="627"></canvas>
      </div>
    </div>

  </div> -->
</div>
