 <!-- Navigation -->
 <!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark py-3" style="height: 50px;" id="mainNav">
   <div class="container">
     <a class="navbar-brand" href="#page-top">SMS</a>
     <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
       data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
       aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
     <div class="collapse navbar-collapse" id="navbarResponsive">
       <ul class="navbar-nav ml-auto my-2 my-lg-0">
         <li class="nav-item"><a class="nav-link " href="#about">Students</a></li>
         <li class="nav-item"><a class="nav-link " [routerLink]="['/charts']"
             routerLinkActive="router-link-active">Charts</a></li>
       </ul>
     </div>
   </div>
 </nav> -->



 <div class="wrapper">
   <!-- Sidebar -->
   <nav id="sidebar" *ngIf="toggled">
     <div class="sidebar-header ">
       <h3 style="font-family: 'Lobster', cursive; cursor: pointer;" [routerLink]="['/home']"
         routerLinkActive="router-link-active">SMS</h3>
     </div>
     <ul class="list-unstyled components">
       <div class="row">
         <div class="col-4">
           <img src="../../assets/images/User/user2.jpg" class="user-img">
         </div>
         <div class="col-8">
           <p style="margin-bottom: -45px;
           margin-top: -15px;
           margin-left: -40px;">Alexander Pierce</p><br>
           <p style="margin-left: -50px;"><i class="fa fa-circle text-success" style="font-size: 10px;"></i>online</p>
         </div>

       </div>
       <li class="active">
         <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Students</a>
         <ul class="collapse list-unstyled" id="homeSubmenu">
           <li>
             <a [routerLink]="['/students']" routerLinkActive="router-link-active">Student Affairs</a>
           </li>
           <li>
             <a href="#">Secretary Reports</a>
           </li>
           <!-- <li>
             <a href="#">Home 3</a>
           </li> -->
         </ul>
       </li>
       <li>
         <a href="#">About</a>
       </li>
       <li>
         <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Pages</a>
         <ul class="collapse list-unstyled" id="pageSubmenu">
           <li>
             <a href="#">Page 1</a>
           </li>
           <li>
             <a href="#">Page 2</a>
           </li>
           <li>
             <a href="#">Page 3</a>
           </li>
         </ul>
       </li>
       <li>
        <a [routerLink]="['/calender']" routerLinkActive="router-link-active" >Calender</a>
      </li>
       <li>
         <a href="#">Portfolio</a>
       </li>
       <li>
         <a href="#">Contact</a>
       </li>
     </ul>
   </nav>
   <div id="content">
     <nav class="navbar navbar-expand-lg navbar-light bg-light">
       <div class="container-fluid">
         <button type="button" id="sidebarCollapse" (click)="toggle()" class="btn btn-info">
           <i class="fas fa-align-left"></i>
         </button>
       </div>
     </nav>
     <router-outlet></router-outlet>
   </div>
 </div>
