<div class=" container  section">
  <div class="">


    <button [routerLink]="['/students/add']" routerLinkActive="router-link-active" type="button"
      class="btn btn-primary mb-4" style="float: right;">Add Student</button>
    <div class="row">

      <!--Search Field-->
      <input [(ngModel)]="searchTerm" class="input-group" style="width: 40%;" placeholder="Search...">

      <!--DropDown List-->
      <select style="width: 10%; height: 30px; font-family: revert;" [(ngModel)]="selectedClass">
        <option selected>All</option>
        <ng-container *ngFor="let cls of classes">
          <option *ngIf="cls.toLowerCase().includes(header.toLowerCase())">{{cls}}</option>
        </ng-container>
      </select>
    </div>



    <!--Table-->
    <table class="table table-striped table-bordered table-responsive">
      <thead class=" thead-dark">
        <tr role="row">
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Father Name</th>
          <th scope="col">Mother Name</th>
          <th scope="col">Class</th>
          <th scope="col">Gender</th>
          <th scope="col">Date Of Birth</th>
          <th scope="col">Father Mobile</th>
          <th scope="col">Mother Mobile</th>
          <th scope="col">Address </th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngIf="students">
          <tr *ngFor="let stud of students" style="cursor: pointer;" (click)="OnStudentClick(stud.id)">
            <ng-container *ngIf="stud.class.toLowerCase().includes(header.toLowerCase())
            &&(stud.studName.toLowerCase().includes(searchTerm.toLowerCase())||stud.id.toString().includes(searchTerm))
            &&((stud.class.toLowerCase().includes(selectedClass.toLowerCase())||selectedClass=='All'))">
              <th scope="row">
                {{stud.id}}
              </th>
              <td>{{stud.studName}}</td>
              <td>{{stud.fatherName}}</td>
              <td>{{stud.motherName}}</td>
              <td>{{stud.class}}</td>
              <td>{{stud.gender}}</td>
              <td>{{stud.dateOfBirth}}</td>
              <td>{{stud.fatherMobile}}</td>
              <td>{{stud.motherMobile}}</td>
              <td>{{stud.address}}</td>
            </ng-container>
          </tr>
          <!-- <tr *ngFor="let student of students" (click)="OnStudentClick(student.studentId)" style="cursor: pointer;">
            <th scope="row"> {{student.studentId}} </th>
            <td>{{student.nameAr}}</td>
            <td>{{student.nameFr}}</td>
            <td>{{student.dateOfBirth}}</td>
          </tr> -->
        </ng-container>
        <ng-container *ngIf="!students">
          <h3>Loading...</h3>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>

<script>
  $('#myModal').on('shown.bs.modal', function () {
    $('#myInput').trigger('focus')
  })

</script>
